BOT_TOKEN=
DATABASE_PATH=data/juldyz.db
FORM_API=http://localhost:8000
PARSER_CELERY_BROKER_URL=redis://localhost:6379/0
PARSER_CELERY_RESULT_BACKEND=redis://localhost:6379/0
PARSER_REDIS_CONTAINER_NAME=juldyz-parser-redis
PARSER_REDIS_IMAGE=redis:7-alpine
