# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/
ENV/

# Python packaging
build/
dist/
*.egg-info/

# =========================
# Environment variables
# =========================
.env
.env.*
!.env.example

# =========================
# Database
# =========================
*.db
*.sqlite
*.sqlite3
data/*.db

# =========================
# Logs
# =========================
*.log
logs/

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS junk
# =========================
.DS_Store
Thumbs.db

# =========================
# Testing / coverage
# =========================
.coverage
htmlcov/
.pytest_cache/

# =========================
# Mypy / Ruff / cache
# =========================
.mypy_cache/
.ruff_cache/

# =========================
# Docker (на будущее)
# =========================
.docker/
docker-compose.override.yml

# =========================
# Temporary files
# =========================
*.tmp
*.swp
/data
/runtime
/models

docs/PLANS.md
